.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: none;
}

.was-validated .form-control:valid, .form-control.is-valid {
    background-image: none;
    border-color: #ced4da;
}

.form-check {
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
}

.select2-container {
    width: 100% !important;
    min-width: 33%;
}

#min, #max {
    width: 100% !important;
}

